.container {
    display: flex;
    flex-direction: column;
    max-width: max-content;
    align-items: center;
    gap: 12px;
    max-width: 200px;
}

.temp {
    font-size: 9.6rem;
    font-weight: 200;
}

.desciptionContainer {
    width: 100%;
}

.description {
    font-size: 2rem;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--secondary-color);
}

.hiLow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
}