.container {
    display: flex;
    flex-direction: column;
    padding: 60px 20px;
    width: 608px;
    background: var(--linear-gradient-primary-50), var(--radial-gradient-primary-50-top);
    box-shadow: -40px 60px 150px 0px rgba(59, 38, 123, 0.70);
    backdrop-filter: blur(6px);
    border-top-right-radius: 44px;
    border-top-left-radius: 44px;
    position: absolute;
    bottom: 0;
    height: 300px;
    transition: all .3s;
    overflow: hidden;
}

.expanded {
    height: 100vh;
    overflow: auto;
}

.expandBtn {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: transparent;
    outline: none;
    border: 0;
    box-shadow: 3px -1px 6px 1px rgba(0, 0, 0, 0.4);
}

.expandIcon {
    width: 50px;
    height: 5px;
    background-color: rgb(230, 230, 230);
    border-radius: 8px;
}

.hourly {
    display: flex;
    gap: 12px;
    justify-content: center;
}