:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: radial-gradient(73.19% 111.55% at 93.07% 74.31%, rgba(69, 39, 139, 0.90) 0%, rgba(46, 51, 90, 0.90) 100%);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  font-size: 1.7rem;
  position: relative;
}